@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

span {
  font-family: inherit;
  font-weight: inherit;
  color: rgb(29, 29, 187);
}

.blueShadow {
  box-shadow: 3px 3px 0 0 #60a5fa;
}

.blueShadow:hover {
  box-shadow: 6px 6px 0 0 #60a5fa;
  transform: translate(-3px, -3px);
  transition: 200ms;
}